<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" 
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
        <title> E-money </title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet"
              th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" />
    </head>
    <body>

        <!-- Header -->
        <nav th:replace="/fragments :: header"></nav>

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page"> Agent Home </li>
            </ol>
        </nav>

        <!-- Container -->

        <div class="container" style="margin-top: 30px;">

            <h3 class="text-center"><u> Recent entries </u></h3>

            <div style="margin: 30px;" id="recentEntries">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"> Safaricom Float </span>
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text"> Ksh </span>
                    </div>
                    <input type="text" class="form-control text-right" aria-label="Amount (to the nearest dollar)"value="30000" readonly>
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"> Airtel Float </span>
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text"> Ksh </span>
                    </div>
                    <input type="text" class="form-control text-right" aria-label="Amount (to the nearest dollar)"value="30000" readonly>
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"> Cash </span>
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text"> Ksh </span>
                    </div>
                    <input type="text" class="form-control text-right" aria-label="Amount (to the nearest dollar)"value="30000" readonly>
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                </div>
            </div>

            <h3 class="text-center"><u> User Options </u></h3>

            <div id="userOptions" style="margin: 30px;">

                <a class="btn btn-primary" th:href="@{/users}"> Users </a>

            </div>

        </div>

        <!-- Footer -->
        <nav th:replace="/fragments :: footer"></nav>

    </body>
</html>
