<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" 
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
    <head th:replace="/fragments:: head"></head>
    
    <body>

        <!-- header -->
        <nav th:replace="/fragments :: mainHeader"> Main Header </nav>

        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>

        <!-- Mainbody -->

        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
                <h1 class="display-4"> E-money, Lets get started!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                    <p> If you are registered please Login, otherwise feel free to to Register to get started.</p>
                    <p class="lead">
                        <a th:href="@{/login}" class="btn btn-primary"> Login </a>
                        <a th:href="@{/register}" class="btn btn-primary"> Register </a>
                    </p>          
            </div>
        </div>


        <!-- Footer -->

        <nav th:replace="/fragments :: footer"></nav>
        
    </body>
</html>
