<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" 
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
        <title> E-money </title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet"
              th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" />
    </head>
    <body>

        <!-- header -->

        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/}"> E-money </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="#"> Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">

                        <!--Login MOdel -->
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"> Login </button> 

                        <!-- Registration Model -->
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#registerModel" data-whatever="@mdo"> Register </button>

                    </li>

                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>

        </nav>

        <!-- Mainbody -->
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
                <h1 class="display-4"> E-money, Lets get started!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                    <p> If you are registered please Login, otherwise feel free to to Register to get started.</p>
                    <p class="lead">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"> Login </button> 
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModel" data-whatever="@mdo"> Register </button>
                    </p>          
            </div>
        </div>


        <!-- Model Body for Login and Registration -->

        <!-- Login -->
          <div th:replace="/fragments :: loginModel"></div>

        <!-- Registration -->
        <div th:replace="/fragments :: registerModel"></div>

        <!-- Footer -->

      <nav th:replace="/fragments :: footer"></nav>

    </body>
</html>
