<!DOCTYPE html>
<html>

    <head th:replace="/fragments:: head"></head>
    
    <body>

        <!-- header -->
        <nav th:replace="/fragments :: mainHeader"> Main Header </nav>

        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Login</li>
            </ol>
        </nav>

        <!-- Main Body -->
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">

                            <div class="alert alert-success" th:if="${success}">
                                <p class="text text-center" th:text="${success}">Registration successful!! Please
                                    Sign in to continue</p>
                            </div>
                            <div class="alert alert-danger" th:if="${param.error}">
                                <p class="text text-center">You entered the wrong credentials!! Please
                                    try again or register</p>
                            </div>
                            <div class="alert alert-danger" th:if="${param.logout}">
                                <p class="text text-center">You have been logged out!! Please
                                    login to continue</p>
                            </div>

                            <h5 class="card-title text-center">Sign In</h5>
                            <form class="form-signin"  th:action="@{/login}" method="post">
                                <div class="form-label-group" style="margin-bottom: 20px;">
                                    <label for="idNumber"> Id Number </label>
                                    <input type="text" id="idNumber" name="idNumber" class="form-control" placeholder="Id Number" required autofocus />
                                </div>

                                <div class="form-label-group"  style="margin-bottom: 20px;">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required  />
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" />
                                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                                </div>
                                <button class="btn btn-lg btn-primary btn-block" type="submit"> Login </button>
                                <hr class="my-4">

                                <p> Are you a member? <a th:href="@{/register}"> Register </a> </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <!-- Footer -->
    <nav th:replace="/fragments :: footer"></nav>

</body>
</html>
