<!DOCTYPE html>
<html>

    <head th:replace="/fragments:: head"></head>

    <body>

        <!-- header -->
        <nav th:replace="/fragments :: mainHeader"> Main Header </nav>

        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Register </li>
            </ol>
        </nav>

        <!-- Main Body -->
        <div class="container" style="margin-bottom: 30px;">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">

                            <div class="alert alert-danger" th:if="${message}">
                                <p class="text text-center" th:text="${message}"> Password should match confirm password </p>
                            </div>

                            <h5 class="card-title text-center">Sign Up</h5>
                            <form th:action="@{/register}" id="registration_form"
                                  th:object="${user}" method="post">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="firstname"> First Name </label>
                                        <input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="First Name" autofocus="" />
                                        <div class="text text-danger"
                                             th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="secondname"> Second Name </label>
                                        <input type="text" th:field="*{secondName}" class="form-control" id="secondname" placeholder="Second Name" />
                                        <div class="text text-danger"
                                             th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}"></div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="thirdname"> Third Name </label>
                                        <input type="text" th:field="*{thirdName}" class="form-control" id="thirdname" placeholder="Third Name" />
                                        <div class="text text-danger"
                                             th:if="${#fields.hasErrors('thirdName')}" th:errors="*{thirdName}"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id"> Id Number </label>
                                    <input type="text" th:field="*{idNumber}" class="form-control" id="idNumber" placeholder="Id Number" />
                                    <div class="text text-danger"
                                         th:if="${#fields.hasErrors('idNumber')}" th:errors="*{idNumber}"></div>
                                </div>
                                <div class="form-group">
                                    <label for="phone"> Phone Number </label>
                                    <input type="text"  th:field="*{phoneNumber}" class="form-control" id="phone" placeholder="Phone Number" />
                                    <div class="text text-danger"
                                         th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="password"> Password </label>
                                        <input type="password" th:field="*{password}" class="form-control" id="Password" placeholder="Password" />
                                        <div class="text text-danger"
                                             th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword"> Confirm Password </label>
                                        <input type="password" th:field="*{confirmPassword}" class="form-control" id="confirmPassword" placeholder="Confirm Password" />
                                        <div class="text text-danger"
                                             th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Sign Up</button>

                                <p style="margin-top: 20px;"> Already a member? <a th:href="@{/login}"> Login </a> </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <nav th:replace="/fragments :: footer"></nav>

    </body>
</html>
